:root {
  --kick-off-green: #06a84c;
  --text-green: #51674b;
  --prem-purple: #2f1167;
}

.purp {
  color: var(--prem-purple);
}

body {
  /* background: #fafafa; */
  margin-top: 5rem;
  font-family: 'Ubuntu', sans-serif;
}

.francois {
  font-family: 'Francois One', sans-serif;
}

.home-page {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: var(--text-green);
}

.home-page h1 {
  font-size: 3rem;
  opacity: .8;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

.cover-container {
  max-width: 42em;
}


.bg-green {
  background-color: var(--kick-off-green);
}

.dark-green {
  color: var(--text-green);
}

.fixture {
  margin: 1.5rem 0rem 1.5rem;
}

.week {
  font-size: 1.2rem;
  margin-left: 1rem;
  color: #08b7ee;
}

.player {
  margin-bottom: 2rem;
}

.wgameform h2, h3, h4 {
  color: var(--text-green);
}

.enternameform, .newgameform {
  color: var(--text-green);
}

.cancel {
  margin-bottom: 1rem;
}

.punderline {
	border-bottom: 2px dashed var(--kick-off-green);
	border-bottom: 2px dashed rgba(0, 0, 0, .5);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  -webkit-animation: underBlink 1s infinite;
  -moz-animation:    underBlink 1s infinite;
  -o-animation:      underBlink 1s infinite;
  animation:         underBlink 1s infinite;
}

@-webkit-keyframes underBlink {
  0%   { border-bottom: 2px solid rgba(0, 0, 0, .2); }
  100% { border-bottom: 2px solid rgba(0, 0, 0, .5); }
}
@-moz-keyframes underBlink {
  0%   { border-bottom: 2px solid rgba(0, 0, 0, .2); }
  100% { border-bottom: 2px solid rgba(0, 0, 0, .5); }
}
@-o-keyframes underBlink {
  0%   { border-bottom: 2px solid rgba(0, 0, 0, .2); }
  100% { border-bottom: 2px solid rgba(0, 0, 0, .5); }
}
@keyframes underBlink {
  0%   { border-bottom: 2px solid rgba(0, 0, 0, .2); }
  100% { border-bottom: 2px solid rgba(0, 0, 0, .5); }
}

/* winner page */

.progress {
  margin-bottom: 3rem;
}


.winner {
  color: #7e787c;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.result {
  font-size: 1.5rem;
  color: #7e787c;
}





.backgroundd {
    /* The image used */
    background: url('../static/img/sunset.jpeg');
    opacity: 0.3;
    /* Full height */
    /* height: 100vh; */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
