:root {
  --kick-off-green: #06a84c;
  --prem-purple: #2f1167;
}

.purp {
  color: var(--prem-purple);
}

body {
  /* background: #fafafa; */
  margin-top: 5rem;
  font-family: 'Ubuntu', sans-serif;
}

.francois {
  font-family: 'Francois One', sans-serif;
}

.home-page {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.home-page h1 {
  font-size: 4rem;
  color: var(--kick-off-green);
}

.cover-container {
  max-width: 42em;
}


.bg-green {
  background-color: var(--kick-off-green);
}

.fixture {
  margin: 1.5rem 0rem 1.5rem;
}

.player {
  margin-bottom: 2rem;
}

.wgameform h2, h3, h4 {
  color: #51674b;
}

.punderline {
	border-bottom: 2px dashed var(--kick-off-green);
	border-bottom: 2px dashed rgba(0, 0, 0, .5);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  -webkit-animation: underBlink 1s infinite;
  -moz-animation:    underBlink 1s infinite;
  -o-animation:      underBlink 1s infinite;
  animation:         underBlink 1s infinite;
}

@-webkit-keyframes underBlink {
  0%   { border-bottom: 2px solid rgba(0, 0, 0, .2); }
  100% { border-bottom: 2px solid rgba(0, 0, 0, .5); }
}
@-moz-keyframes underBlink {
  0%   { border-bottom: 2px solid rgba(0, 0, 0, .2); }
  100% { border-bottom: 2px solid rgba(0, 0, 0, .5); }
}
@-o-keyframes underBlink {
  0%   { border-bottom: 2px solid rgba(0, 0, 0, .2); }
  100% { border-bottom: 2px solid rgba(0, 0, 0, .5); }
}
@keyframes underBlink {
  0%   { border-bottom: 2px solid rgba(0, 0, 0, .2); }
  100% { border-bottom: 2px solid rgba(0, 0, 0, .5); }
}

.backgroundd {
    /* The image used */
    background: url('../static/img/pitch2.jpg');
    opacity: 0.5;
    /* Full height */
    /* height: 100vh; */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
