{% extends 'layout.html' %}
{% block content %}
<section class="home-page text-center cover-container d-flex h-100 p-3 mx-auto flex-column">
  <h1 class="francois">Kick Off!</h1>
  <p class="lead">Test your knowledge of a premiership football season with the Kick Off App</p>
  <p class="lead">Play in 1 Player mode or 2 Player mode</p>
  <p class="lead">The rules are simple, just enter 1 for a home win, 2 for a draw or 3 for an away win.  If your first answer is wrong you will have one more attempt.</p>
  <p class="">
    <a href="{{ url_for('newgame') }}" class="btn btn-lg btn-dark">Play Now</a>
  </p>
</section>


{% endblock content %}
