{% extends 'layout.html' %}
{% block content %}
<h2 class="text-center">High Scores</h2>
  <table class="table table-bordered table-striped">
    <caption>
    Top ten scores shown
    </caption>
    <thead>
      <tr>
        <th data-defaultsign="_19">Rank</th>
        <th data-defaultsign="AZ">Name</th>
        <th data-defaultsign="month">Score</th>
      </tr>
    </thead>
    <tbody>
        {% for score in topTen %}
          <tr>
            <td>{{ topTen.index(score)+1}}</th>
            <td>{{ score.name }}</td>
            <td>{{ score.score }}</td>
          </tr>
        {% endfor %}
      
    </tbody>
  </table>
{% endblock %}
