{% extends 'layout.html' %}
{% block content %}
      <div class="wgameform">
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <!-- <legend class="margin-bottom mb-4">Enter your prediction below.</legend> -->
                <h3>Fixture: {{ id }} of 10</h3>
                <h2 class="fixture">{{ fix_list[id-1]['fixture'] }}</h2>
                <h4 class="player">Player: <span class="punderline">Jimbo</span></h4>
            <div class="form-group">
              {{ form.answer.label(class="form-control-label") }}
              {% if form.answer.errors %}
                {{ form.answer(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.answer.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.answer(class="form-control form-control-lg") }}
              {% endif %}
            </div>
          </fieldset>
          <div class="form-group text-center">
            {{ form.submit(class="btn btn-outline-info") }}
          </div>
        </form>
      </div>
      <div class="border-top pt-3 cancel">
        <small class="text-muted">
          Want to cancel this game? <a class="ml-2" href="{{ url_for('home') }}">Click here</a>
        </small>
      </div>

{% endblock content %}
