{% extends 'layout.html' %}
{% block content %}
<section class="home-page text-center cover-container d-flex h-100 p-3 mx-auto flex-column">
  <h2 class="francois">Game Rules</h2>
  <p class="lead">The rules are simple, just enter 1 for a home win, 2 for a draw or 3 for an away win.  If your answer is wrong you will have one more attempt.</p>
  <p class="lead">Points system: If answer is correct you will receive the same number of points  as the answer.  1 point is scored for a correct 2nd attempt and two incorrect guess's receives zero points.</p>
  <p class="lead">The top ten scores in 1 player mode will be displayed on the leaderboard.</p>
  <p class="">
    <a href="{{ url_for('newgame') }}" class="btn btn-lg btn-secondary">Play Now</a>
  </p>
</section>
{% endblock content %}
