{% extends 'layout.html' %}


  {% block content %}
    <section class="winner-section">
      <h2 class="winner">Result</h2>
      {% for player in players %}
        <p class="result">{{ name }} scored {{ score }} points!</p>
      {% endfor %}
      {% if players |length > 1 %}
        <p class="result">Result: {{ calcWinner(players[0], players[1]) }}</p>
      {% endif %}
      <p class="dark-green">Click on the button below to view high scores table.</p>
      <p class="">
        <a href="{{ url_for('leaderboard') }}" class="btn btn-lg btn-dark">High Scores</a>
      </p>
    </section>
  {% endblock content %}
