{% extends 'layout.html' %}

  {% block content %}
    <section class="winner-section">
      <h2 class="winner">Result</h2>
      {% for player in range(multiplayers |length) %}
        <p class="result">{{ names[player] }} you scored {{ multiplayers[player].score }} points!</p>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{ multiplayers[player].score * 5 }}%" aria-valuenow="{{ multiplayers[player].score }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      {% endfor %}
      {% if multiplayers |length > 1 %}
        <p class="result">Result: {{ calc_winner(multiplayers[0], multiplayers[1]) }}</p>
      {% endif %}
      <p class="dark-green">Click on the button below to view high scores table.</p>
      <p class="">
        <a href="{{ url_for('leaderboard') }}" class="btn btn-lg btn-dark">High Scores</a>
      </p>
    </section>
  {% endblock content %}
